body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-top: 20px;
}

.headlines-items {
  padding-bottom: 20px;
}

.headlines-img {
  height: 235px;
}

.news-nav-item {
  margin-left: 10px;
}

.div-nav {
  padding-top: 100px;
}

@media (min-width: 992px) {
  body {
    padding-top: 20px;
  }
}
